div.base {
	width: 150px;
	height: 10px;
	background: black;
}

div.bar {
	height: 200px;
	border-left: 1px solid black;
}

div.container {
	display: flex;
	width: 150px;
	flex-direction: column;
	align-items: center;
	float: left;
	position: relative;
	border: 1px solid blue;
}
div.outermost {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 80vh;
}
div.input {
	text-align: center;
}
div.area {
	width: 200px;
	height: 200px;
	background: lightgreen;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
div.plate {
	width: 55px;
	height: 10px;
	background: blue;
	display: inline-block;
	margin: 5px 0;
	z-index: 1;
}
div.plate-container {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 30px;
	left: 25px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: center;	
}

div.plate-container > span {
	background: blue;
	color: white;
	margin: 5px 0;
	width: 100px;
}

div.start-button {
	text-align: center;
}